In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

location = ['Chaozhou', 'Pingdong']

In [2]:
file_name = "2017_{}_20180309.xls".format(location[1])
data = pd.read_excel(file_name, sheet_name=None)
data = data['Sheet1']
print(type(data))
data.head()

<class 'pandas.core.frame.DataFrame'>

,日期,測站,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,2017/01/01,屏東,AMB_TEMP,20,20,19,19,19,19,19,...,26,26,24,23,23,23,23,23,22,22
1,2017/01/01,屏東,CH4,2.5,2.8,2.3,2.2,2.2,2.2,2.1,...,1.9,1.9,1.9,2,2,2,1.9,1.9,2,2.1
2,2017/01/01,屏東,CO,1.27,0.97,0.75,0.63,0.63,0.62,0.62,...,0.38,0.35,0.43,0.5,0.59,0.63,0.63,0.53,0.59,0.61
3,2017/01/01,屏東,NMHC,0.38,0.28,0.18,0.14,0.15,0.15,0.15,...,0.08,0.08,0.09,0.15,0.13,0.14,0.14,0.14,0.2,0.2
4,2017/01/01,屏東,NO,5.3,2.4,2.8,1.7,1.5,1.3,1.3,...,1.4,1.5,1.6,1.4,1.5,1.3,1.2,1.2,1.5,1.5

In [3]:
data1 = data.drop(['測站'], axis=1)
data2 = data1.set_index(['日期', '測項'])
data2.head()

                       00    01    02    03    04    05    06    07    08  \
日期         測項
2017/01/01 AMB_TEMP    20    20    19    19    19    19    19    19    20
           CH4        2.5   2.8   2.3   2.2   2.2   2.2   2.1   2.2   2.2
           CO        1.27  0.97  0.75  0.63  0.63  0.62  0.62  0.75  0.64
           NMHC      0.38  0.28  0.18  0.14  0.15  0.15  0.15  0.21  0.15
           NO         5.3   2.4   2.8   1.7   1.5   1.3   1.3   4.5   5.9

                       09  ...     14    15    16    17    18    19    20  \
日期         測項              ...
2017/01/01 AMB_TEMP    22  ...     26    26    24    23    23    23    23
           CH4          2  ...    1.9   1.9   1.9     2     2     2   1.9
           CO        0.61  ...   0.38  0.35  0.43   0.5  0.59  0.63  0.63
           NMHC      0.11  ...   0.08  0.08  0.09  0.15  0.13  0.14  0.14
           NO         4.5  ...    1.4   1.5   1.6   1.4   1.5   1.3   1.2

                       21    22    23
日期         測項
2017/01/01 AMB_TEMP    23    22    22
           CH4        1.9     2   2.1
           CO        0.53  0.59  0.61
           NMHC      0.14   0.2   0.2
           NO         1.2   1.5   1.5

[5 rows x 24 columns]

In [4]:
data_T = data2.transpose()
data_T.head(5)

日期 2017/01/01                                                ...  2017/12/31  \
測項   AMB_TEMP  CH4    CO  NMHC   NO NO2 NOx   O3 PM10 PM2.5  ...       PM2.5
00         20  2.5  1.27  0.38  5.3  35  40   11  153    92  ...          34
01         20  2.8  0.97  0.28  2.4  29  32  7.6  154   106  ...          41
02         19  2.3  0.75  0.18  2.8  23  26   13  147   106  ...          47
03         19  2.2  0.63  0.14  1.7  16  18   15  100    67  ...          48
04         19  2.2  0.63  0.15  1.5  15  17   14   86    53  ...          46

日期
測項 RAINFALL  RH  SO2  THC UVB WD_HR WIND_DIREC WIND_SPEED WS_HR
00       NR  82    3    2   0   291        326        1.1   0.9
01       NR  82  1.8  2.1   0   298        313        1.2   0.9
02       NR  82  1.6  2.1   0   317        324        1.3   0.9
03       NR  83  1.5  2.2   0   9.2         38        1.3   0.9
04       NR  83  1.5  2.1   0   355        343          1   0.8

[5 rows x 6935 columns]

In [5]:
data_T.index.values

array(['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', 10, 11,
       12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23], dtype=object)

In [6]:
data_T.columns.values

array([('2017/01/01', 'AMB_TEMP'), ('2017/01/01', 'CH4'),
       ('2017/01/01', 'CO'), ..., ('2017/12/31', 'WIND_DIREC'),
       ('2017/12/31', 'WIND_SPEED'), ('2017/12/31', 'WS_HR')],
      dtype=object)

In [7]:
data3 = data_T
# .swaplevel(0, 1, 1)
data3.head()

日期 2017/01/01                                                ...  2017/12/31  \
測項   AMB_TEMP  CH4    CO  NMHC   NO NO2 NOx   O3 PM10 PM2.5  ...       PM2.5
00         20  2.5  1.27  0.38  5.3  35  40   11  153    92  ...          34
01         20  2.8  0.97  0.28  2.4  29  32  7.6  154   106  ...          41
02         19  2.3  0.75  0.18  2.8  23  26   13  147   106  ...          47
03         19  2.2  0.63  0.14  1.7  16  18   15  100    67  ...          48
04         19  2.2  0.63  0.15  1.5  15  17   14   86    53  ...          46

日期
測項 RAINFALL  RH  SO2  THC UVB WD_HR WIND_DIREC WIND_SPEED WS_HR
00       NR  82    3    2   0   291        326        1.1   0.9
01       NR  82  1.8  2.1   0   298        313        1.2   0.9
02       NR  82  1.6  2.1   0   317        324        1.3   0.9
03       NR  83  1.5  2.2   0   9.2         38        1.3   0.9
04       NR  83  1.5  2.1   0   355        343          1   0.8

[5 rows x 6935 columns]

In [8]:
data4 = data3.stack(level=0, dropna=False) # Do not drop missing value
# for hour in data_T.index.values:
#     print(len(data4.loc[[hour]]))
data4.head()

測項            AMB_TEMP  CH4    CO  NMHC   NO NO2 NOx  O3 PM10 PM2.5 RAINFALL  \
   日期
00 2017/01/01       20  2.5  1.27  0.38  5.3  35  40  11  153    92       NR
   2017/01/02       21  2.3  0.51  0.13  1.5  19  21  26   96    59       NR
   2017/01/03       21  2.4  0.43  0.11  1.9  18  20  12   90    48       NR
   2017/01/04       21  2.3  0.53  0.18  0.9  23  24  16  120    62       NR
   2017/01/05       21  2.3  0.45  0.15  0.7  19  20  21  106    55       NR

測項             RH  SO2  THC UVB WD_HR WIND_DIREC WIND_SPEED WS_HR
   日期
00 2017/01/01  82    6  2.9   0    51        341        0.5   0.6
   2017/01/02  82  2.1  2.4   0    43         41        1.7   0.9
   2017/01/03  83  2.3  2.5   0    17         56        1.2   0.5
   2017/01/04  82  1.7  2.5   0    42         44          1   0.5
   2017/01/05  82  1.7  2.4   0   337        324        0.6   0.4

In [9]:
print(data4.index.get_level_values(0))
print(type(data4.index.levels[0]))
idx = ([int(t) for t in data4.index.levels[0]])
data4.index = data4.index.set_levels(idx, level=0)
print(data4.index.get_level_values(0))
# data4.columns.values

Index(['00', '00', '00', '00', '00', '00', '00', '00', '00', '00',
       ...
         23,   23,   23,   23,   23,   23,   23,   23,   23,   23],
      dtype='object', length=8760)
<class 'pandas.core.indexes.base.Index'>
Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', length=8760)

In [10]:
data5 = data4
data5.index.values
data5 = data4.sort_index(level=1, axis=0)
# print(data5.index.values[0][1])
# print(data5.index.values[1][1])
# if (data5.index.values[0][0]) < (data5.index.values[1][0]):
#     print('True')
data5.head()

,測項,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
,日期,,,,,,,,,,,,,,,,,,,
0,2017/01/01,20,2.5,1.27,0.38,5.3,35,40,11,153,92,NR,82,6,2.9,0,51,341,0.5,0.6
1,2017/01/01,20,2.8,0.97,0.28,2.4,29,32,7.6,154,106,NR,82,1.8,3.1,0,323,353,1.3,0.4
2,2017/01/01,19,2.3,0.75,0.18,2.8,23,26,13,147,106,NR,84,1.9,2.5,0,47,55,1.5,0.7
3,2017/01/01,19,2.2,0.63,0.14,1.7,16,18,15,100,67,NR,84,1.5,2.3,0,349,341,1.4,0.4
4,2017/01/01,19,2.2,0.63,0.15,1.5,15,17,14,86,53,NR,85,1.6,2.3,0,0.4,307,1.1,0.4

In [11]:
import datetime
# data5.index.get_level_values(1)
# data5.index = data4.index.set_levels(data4.index.get_level_values(1).map(lambda x: pd.to_datetime(x, format='%Y/%m/%d %H:%M')), level=1)
# data5.index.get_level_values(1)
Date = list()
for idx in data5.index.values:
#     print(idx[0], idx[1])
    day = ([int(i) for i in idx[1].split('/')])
#     print(day)
    Date.append(datetime.datetime(day[0], day[1], day[2], idx[0]).strftime('%m/%d/%Y %H:%M'))
print(len(Date))
data5 = data5.reset_index()
data5 = data5.drop(columns=['日期', 'level_0'])

8760

In [12]:
data5["Date"] = Date
data5 = data5.set_index("Date")
data5.head()
# data5.index.values

測項,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
Date,,,,,,,,,,,,,,,,,,,
01/01/2017 00:00,20,2.5,1.27,0.38,5.3,35,40,11,153,92,NR,82,6,2.9,0,51,341,0.5,0.6
01/01/2017 01:00,20,2.8,0.97,0.28,2.4,29,32,7.6,154,106,NR,82,1.8,3.1,0,323,353,1.3,0.4
01/01/2017 02:00,19,2.3,0.75,0.18,2.8,23,26,13,147,106,NR,84,1.9,2.5,0,47,55,1.5,0.7
01/01/2017 03:00,19,2.2,0.63,0.14,1.7,16,18,15,100,67,NR,84,1.5,2.3,0,349,341,1.4,0.4
01/01/2017 04:00,19,2.2,0.63,0.15,1.5,15,17,14,86,53,NR,85,1.6,2.3,0,0.4,307,1.1,0.4

In [13]:
data5.to_csv("Pingdong_2017.csv")